{% block sidebar %}
      <style>
            .card{
                  box-shadow: 0 16px 48px white;
                  border: 1px solid ;
                  border-radius:20px;
            }
           
      </style>
      <!-- Sidebar Widgets Column  start here -->
      <div class="col-md-4 float-right ">
            <div class="card my-4">
                  <h5 class="card-header" style="text-align:center ;">RECENTLY POST</h5>
                  <div class="card-body">
                        <p class="card-text"> This awesome blog is made on the top of our Favourite full stack </p>
                       
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                    <div class="carousel-item active">
                                          <img src="media/love.jpeg" width="100%" alt="">
                                    </div>
                                    <div class="carousel-item">
                                          <img src="media/images_23.jpg" width="100%" alt="">
                                    </div>
                                    <div class="carousel-item">
                                          <img src="media/h.jpg" width="100%" alt="">
                                    </div>
                              </div>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quam ratione a. Incidunt, non. Quod officiis iusto, dolores tenetur optio officia inventore necessitatibus assumenda, architecto excepturi repudiandae voluptate, voluptates obcaecati!</p>
                              <a href="#"
                              class="btn btn-primary">Know more!</a>
                        </div>
                  </div>
            </div>

            <div class="card my-4">
                  <h4 class="card-header">Today News</h4>
                  <div class="card-body">
                        <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                    <div class="carousel-item active">
                                          <img src="media/love.jpeg" width="100%" alt="">
                                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium inventore tempora itaque voluptatibus officiis ad quos eum veritatis quo, odio nisi eius autem ipsa recusandae, ratione optio! Inventore, ratione consectetur?</p><br>
                                          <a href="#" class="btn btn-primary">See more
                                          </a>
                                    </div>
                                    <div class="carousel-item">
                                          <img src="media/ddaja.jpg" width="100%" alt="">
                                          <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                                          elit. Accusantium inventore tempora itaque voluptatibus 
                                          officiis ad quos eum veritatis quo, odio nisi eius autem 
                                          ipsa recusandae, ratione optio! Inventore, ratione 
                                          consectetur?</p><br>
                                          <a href="#" class="btn btn-primary">See more
                                          </a>
                                    </div>
                                    <div class="carousel-item">
                                          <img src="media/BREAKING_NEWS.jpg" width="100%" alt="">
                                          <span>Lorem, ipsum dolor sit amet consectetur 
                                          adipisicing elit. Molestiae necessitatibus 
                                          numquam, sit vero doloremque eos esse, recusandae 
                                          modi illo natus laborum deleniti ad autem similique 
                                          quam provident soluta repellendus beatae totam ex ea. 
                                          Quod, asperiores veritatis facere officiis eos neque?</span><br>
                                          <a href="#" class="btn btn-primary">See more
                                          </a>
                                    </div>
                                    <div class="carousel-item">
                                          <img src="media/mem.jpg" width="100%" alt="">
                                          <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                                          elit. Deserunt cupiditate, illo quisquam sit, quaerat 
                                          libero asperiores nemo enim inventore, perferendis 
                                          id vel. Deserunt nihil labore illum quasi ratione 
                                          sunt ducimus incidunt mollitia a facilis sapiente 
                                          laborum tempore, possimus officia.</p><br>
                                          <a href="#" class="btn btn-primary">See more
                                          </a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
       <!-- Sidebar Widgets Column  end here -->
{% endblock sidebar %}