{% block sidebar %}
      <style>
            .card{
                  box-shadow: 0 16px 48px white;
                  border: 1px solid ;
                  border-radius:20px;
            }
           
      </style>
      <!-- Sidebar Widgets Column  start here -->
      <div class="col-md-4 float-right ">
            <div class="card my-4">
                  <h5 class="card-header" style="text-align:center ;background-color: rgb(36, 76, 196);color: aliceblue;border-radius: 10px;padding: 10px;">LATES BREAKING NEWS</h5>
                  <div class="card-body">
                        <p class="card-text"> This awesome blog is made on the top of our Favourite full stack </p>
                        
                        <p>The Alaafin of Oyo, Oba Lamidi Adeyemi, has passed away. 
                              He ‘joined his ancestors’ at the age of 83, after
                              almost 52 years on the throne – and as the longest-reigning Alaafin of all-time. According</p>
                  </div>
            </div>

            <div class="card my-4">
                  <h4 class="card-header" style="text-align:center ;background-color: rgb(36, 76, 196);color: aliceblue;border-radius: 10px;padding: 10px;">Today News</h4>
                  <div class="card-body">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, esse? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis vero, recusandae at veniam enim alias aspernatur dolorem laboriosam eos ut obcaecati sequi? Nulla repudiandae saepe ut voluptatem assumenda! Modi.</span>
                  </div>
            </div>
      </div>
       <!-- Sidebar Widgets Column  end here -->
{% endblock sidebar %}